footer {
position: relative;
width: 100%;
height: auto;
background: #000;
z-index: 99;
}

footer .credits {
color: #FFFFFF;
font-size: 13px;
margin-bottom: 0;
padding: 20px;
}


@media only screen and (min-width: $breakpoint-small) {

}

@media only screen and (min-width: $breakpoint-large) {

}
