footer {
position: relative;
background: #000;
z-index: 99;
height:320px;
}
footer .credits{
padding-top: 20px;
}

.name{
    font-size: 20px;
    color: #a99a6f;
     text-align: center;
}

.email, .number, .city, .social , .copy{
 font-size: 15px;   
 text-align: center;
}

.social a, .email a{
       color: #a99a6f;
    text-decoration: none;
}

@media only screen and (min-width: $breakpoint-small) {

}

@media only screen and (min-width: $breakpoint-large) {

}
