header {}



.navbar-default {

    
    border-color: transparent;
    
    position: fixed;

    padding-top: 10px;

    z-index: 100;

    width: 100%;

    min-height: 83px;

    background: transparent;

    border-radius: 0px;

}

.navbar-default img {
    
    cursor: pointer;
    
    max-width: 70px;

}

.navbar-brand {

    font-size: 25px;
    
    

}


.navbar-default .navbar-brand{
  color:#fff;   
 
}


.navbar-default .navbar-brand:hover{
  color:#ccc;   
}


.navbar-default .navbar-nav>li>a{
 color:#fff;   

}

.navbar-default .navbar-nav>li>a:hover {
 color:#ccc;   
}
.navbar-default .navbar-nav>li>a:focus{
 color:#fff;   
}

.navbar-default .navbar-brand:focus{
 color:#fff;  
}


.navbar-default .navbar-collapse{
 border-color:transparent;
-webkit-box-shadow:none; 
box-shadow: none;
        
}



.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
background-color: transparent;
}


.navbar-default { background-color: rgba(0,0,0,0);transition: background-color 400ms linear 0;}
.navbar-default.opaque { background-color: rgba(0,0,0,1);transition: background-color 400ms linear 0;}

@media only screen and (max-width: $breakpoint-xs) {

.navbar>.container .navbar-brand,

    .navbar>.container-fluid .navbar-brand {
     
  display:none;
        
    }
 
    .navbar-default img {
    position:relative;
    left: 42%;
    max-width: 70px;

}
    
}

@media only screen and (min-width: $breakpoint-small) {

.navbar>.container .navbar-brand,

    .navbar>.container-fluid .navbar-brand {
     
                margin-left: 64px;

        margin-top: -53px;
        
    }
 
    
}


@media only screen and (min-width: $breakpoint-large) {

    .navbar>.container .navbar-brand,

    .navbar>.container-fluid .navbar-brand {

        margin-left: 64px;

        margin-top: -53px;

    }

}