header {}



.navbar-default {

    border-color: #fff;
    
    position: fixed;

    padding-top: 10px;

    z-index: 100;

    width: 100%;

    min-height: 73px;

    background: #fff;

    border-radius: 0px;

}

.navbar-default img {

    max-width: 70px;

}

.navbar-brand {

    font-size: 25px;

    font-weight: 700;

}


.navbar-default .navbar-collapse{
border-color: transparent;
}


@media only screen and (max-width: $breakpoint-xs) {

.navbar>.container .navbar-brand,

    .navbar>.container-fluid .navbar-brand {
     
  display:none;
        
    }
 
    .navbar-default img {
    position:relative;
    left: 35%;
    max-width: 70px;

}
    
}

@media only screen and (min-width: $breakpoint-small) {

.navbar>.container .navbar-brand,

    .navbar>.container-fluid .navbar-brand {
     
                margin-left: 64px;

        margin-top: -53px;
        
    }
 
    
}


@media only screen and (min-width: $breakpoint-large) {

    .navbar>.container .navbar-brand,

    .navbar>.container-fluid .navbar-brand {

        margin-left: 64px;

        margin-top: -53px;

    }

}