header {}



.navbar-default {

    
    border-color: transparent;
    
    position: fixed;

    padding-top: 10px;

    z-index: 100;

    width: 100%;

    min-height: 83px;

    background: transparent;

    border-radius: 0px;

}

.navbar-default img {

    max-width: 70px;

}

.navbar-brand {

    font-size: 25px;
    
    

}


.navbar-default .navbar-brand{
  color:#fff;   
 
}


.navbar-default .navbar-brand:hover{
  color:#ccc;   
}


.navbar-default .navbar-nav>li>a{
 color:#fff;   

}

.navbar-default .navbar-nav>li>a:hover {
 color:#ccc;   
}
.navbar-default .navbar-nav>li>a:focus{
 color:#ccc;   
}

.navbar-default .navbar-brand:focus{
 text-decoration:none; 
    
}


.navbar-default .navbar-collapse{
 border-color:transparent;
-webkit-box-shadow:none; 
box-shadow: none;
        
}



.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
background-color: transparent;
}


.navbar-default { background-color: rgba(0,0,0,0);transition: background-color 2s ease 0s;}
.navbar-default.opaque { background-color: rgba(0,0,0,1);transition: background-color 2s ease 0s;}

